$primary-color: #001E26; //rgba(0, 30, 38, 1)
$secondary-color: #00DC82; // rgba(0, 220, 130, 1)
$third-color: #FFDA93; //rgba(255, 218, 147, 1)

$font-color-primary: #eff7f3; 
$font-color-secondary: #9bb8ab; // rgba(155, 184, 171, 1)